#### List(배열)

In [2]:
days=['mon', 'tue', 'wed', 2022, 10.5, True]
print(type(days))
print(days)

<class 'list'>
['mon', 'tue', 'wed', 2022, 10.5, True]

In [4]:
print(days[0])
print(days[1])
print(days[2])

mon
tue
wed

In [5]:
for item in days:
    print(item)

mon
tue
wed
2022
10.5
True

In [6]:
for i in range(6): # 0 ~ 5
    print(days[i])
    # print(mons[i])

mon
tue
wed
2022
10.5
True

In [7]:
for i in range(len(days)): # 0 ~ 5
    print(days[i])
    # print(mons[i])

mon
tue
wed
2022
10.5
True

In [9]:
for i, item in enumerate(days): # 0 ~ 5
    print(f'{i+1}. {days[i]}')

1. mon
2. tue
3. wed
4. 2022
5. 10.5
6. True

In [10]:
import random

data=[] # list 변수 선언

for i in range(10): # 0 ~ 9
  data.append(random.randint(1, 100)) # 1 ~ 100

print(data)

for item in data:
  print(item, end=' ')

[58, 64, 7, 19, 11, 43, 40, 18, 19, 15]
58 64 7 19 11 43 40 18 19 15

In [11]:
data.insert(0, 2024)
print(data)

[2024, 58, 64, 7, 19, 11, 43, 40, 18, 19, 15]

In [12]:
print(data.pop()) # 마지막 요소를 꺼내옴, 원본이 변경됨
print(data)

15
[2024, 58, 64, 7, 19, 11, 43, 40, 18, 19]

In [14]:
data.remove(2024) # 좌측에서 동일한값 1개 삭제, 2024 없으면 에러 발생
print(data)

[58, 64, 7, 19, 11, 43, 40, 18, 19]

In [15]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2 # 연결, 요소간 더하기(Vector 연산): Numpy
print(list3)

[1, 2, 3, 4, 5, 6]

In [16]:
# 입사 성적(list, for, if)을 처리하는 프로그램을 제작하시오.
# 성적을 list에 저장 할 것, input 함수 생략.
# python: 90, java: 80, html: 100, dbms: 70, tensorflow: 100
# 총점, 평균, 등급(90 ~ 100: A, 80 ~ 89: B, 70 ~ 79: C, 60 ~ 69: D, 그외는 F를 출력할 것)

# 총점: 440, 평균: 88, 등급: B

# Hint: list, for, elif

data = [90, 80, 100, 70, 100]
tot = 0

for item in data:
    tot = tot + item

avg = tot / len(data)
grade = ''

if 90 <= avg <= 100:
    grade = 'A'
elif 80 <= avg <= 89:
    grade = 'B'
elif 70 <= avg <= 79:
    grade = 'C'
elif 60 <= avg <= 69:
    grade = 'D'
else:
    grade = 'F'

print(f'총점: {tot}, 평균: {avg: .0f}, 등급: {grade}')

총점: 440, 평균:  88, 등급: B

In [18]:
# 2차원
sungjuk = [['가길동', 100, 90, 80],
           ['나길순', 90, 95, 85],
           ['다길순', 70, 75, 90]]

for row in sungjuk:
    print(row)
    name = row[0]
    tot = row[1] + row[2] + row[3]
    avg = tot / 3
    print(f'성명: {name}, 총점: {tot}, 평균: {avg:.1f}')

['가길동', 100, 90, 80]
성명: 가길동, 총점: 270, 평균: 90.0
['나길순', 90, 95, 85]
성명: 나길순, 총점: 270, 평균: 90.0
['다길순', 70, 75, 90]
성명: 다길순, 총점: 235, 평균: 78.3

In [19]:
# list 컴프리헨션
data = [i for i in range(5)]
print(data)

[0, 1, 2, 3, 4]

In [20]:
print([i for i in range(1, 11, 1)]) # 1 ~ 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
print([i for i in range(1, 11, 1) if i % 2 == 0])
#            1                       2

[2, 4, 6, 8, 10]

In [23]:
# print([i for i in range(1, 11, 1) if i % 2 == 0 else 1]) # X

In [24]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print([num for row in data for num in row])
#               1               2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
print([num for row in data for num in row if num % 2 == 0])
#               1               2             3

[2, 4, 6, 8]

In [26]:
print([num ** 2 for row in data for num in row if num % 2 == 0])

[4, 16, 36, 64]

In [34]:
import random

data = [random.randint(1, 10) for i in range(5)]
print(data)

[7, 5, 5, 3, 6]

In [35]:
data.sort()

In [36]:
print(data)

[3, 5, 5, 6, 7]

In [37]:
data.sort(reverse=True) # Decending
print(data)

[7, 6, 5, 5, 3]

In [38]:
data.sort(reverse=False) # Ascending
print(data)

[3, 5, 5, 6, 7]

In [39]:
data = ['다길동', '나길동', '가길동']
data.sort(reverse=False)
print(data)

['가길동', '나길동', '다길동']

In [41]:
print(11/3)
print(11//3) # 반올림 안됨.

3.6666666666666665
3

In [42]:
# 각 영업부서의 판매실적을 10만원당 '*'하나로 대응하여 출력하시오.
# 출력
# 95 :***********************************************************************************************
# 80 :********************************************************************************
# 75 :***************************************************************************
# 71 :***********************************************************************
# 67 :*******************************************************************
# 50 :**************************************************
# 45 :*********************************************
# 필수 구현
sales = [950, 750, 500, 450, 800, 670, 710]

for i in range(len(sales)): # 0 ~ 6
    sales[i] = int(sales[i] / 10) # int: 반올림 안됨

sales.sort(reverse=True)
# print(sales)

for i in range(len(sales)): # 0 ~ 6
    print(sales[i], ':', '*' * sales[i])

95 : ***********************************************************************************************
80 : ********************************************************************************
75 : ***************************************************************************
71 : ***********************************************************************
67 : *******************************************************************
50 : **************************************************
45 : *********************************************

In [43]:
data = 'FRIDAY' # 문자 배열
for chr in data:
    print(chr)

F
R
I
D
A
Y

In [44]:
for i in range(len(data)):
    print(data[i])

F
R
I
D
A
Y

In [45]:
data = [i*10 for i in range(1, 6, 1)]
print(data) # 0 ~ 4

for i in range(len(data)-1, -1, -1):
  print(data[i], end=' ')

[10, 20, 30, 40, 50]
50 40 30 20 10

In [46]:
data = "FRIDAY"
print(data)

for i in range(len(data)-1, -1, -1):
  print(data[i], end=' ')

FRIDAY
Y A D I R F

In [49]:
data = ['a', 'A', 'z', 'Z']
data.sort() # 오름 차순
print(data)

data.sort(key=str.lower) # 의미기반 정렬
print(data)

# data=[100, 150, 'a', 'Z', 'b']
# data.sort() # X, 정렬시는 타입이 일치되어야함.

['A', 'Z', 'a', 'z']
['A', 'a', 'Z', 'z']

In [73]:
# 데이터 분할
import random

data = [random.randint(1, 100) for i in range(100)]
print(data)

[45, 65, 46, 66, 95, 76, 85, 6, 92, 51, 33, 52, 50, 59, 5, 73, 50, 11, 100, 52, 44, 14, 7, 64, 64, 100, 97, 69, 58, 96, 79, 74, 65, 74, 30, 27, 62, 54, 84, 18, 90, 94, 2, 4, 47, 91, 28, 71, 10, 64, 3, 81, 72, 8, 87, 78, 18, 65, 90, 23, 5, 20, 55, 90, 20, 99, 31, 41, 30, 29, 24, 20, 96, 23, 20, 51, 8, 6, 11, 75, 65, 17, 88, 95, 99, 79, 52, 21, 27, 79, 46, 98, 60, 47, 86, 83, 97, 80, 28, 50]

In [76]:
for i in range(1, 101, 1):
    print(f'{i}. {data.count(i)} 개') # 빈도 분석

1. 0 개
2. 1 개
3. 1 개
4. 1 개
5. 2 개
6. 2 개
7. 1 개
8. 2 개
9. 0 개
10. 1 개
11. 2 개
12. 0 개
13. 0 개
14. 1 개
15. 0 개
16. 0 개
17. 1 개
18. 2 개
19. 0 개
20. 4 개
21. 1 개
22. 0 개
23. 2 개
24. 1 개
25. 0 개
26. 0 개
27. 2 개
28. 2 개
29. 1 개
30. 2 개
31. 1 개
32. 0 개
33. 1 개
34. 0 개
35. 0 개
36. 0 개
37. 0 개
38. 0 개
39. 0 개
40. 0 개
41. 1 개
42. 0 개
43. 0 개
44. 1 개
45. 1 개
46. 2 개
47. 2 개
48. 0 개
49. 0 개
50. 3 개
51. 2 개
52. 3 개
53. 0 개
54. 1 개
55. 1 개
56. 0 개
57. 0 개
58. 1 개
59. 1 개
60. 1 개
61. 0 개
62. 1 개
63. 0 개
64. 3 개
65. 4 개
66. 1 개
67. 0 개
68. 0 개
69. 1 개
70. 0 개
71. 1 개
72. 1 개
73. 1 개
74. 2 개
75. 1 개
76. 1 개
77. 0 개
78. 1 개
79. 3 개
80. 1 개
81. 1 개
82. 0 개
83. 1 개
84. 1 개
85. 1 개
86. 1 개
87. 1 개
88. 1 개
89. 0 개
90. 3 개
91. 1 개
92. 1 개
93. 0 개
94. 1 개
95. 2 개
96. 2 개
97. 2 개
98. 1 개
99. 2 개
100. 2 개

In [77]:
# 훈련: 70%, 검증: 25%, 테스트: 5%
train = data[0:70] # 0 ~ 69
print(len(train))
print(train)

70
[45, 65, 46, 66, 95, 76, 85, 6, 92, 51, 33, 52, 50, 59, 5, 73, 50, 11, 100, 52, 44, 14, 7, 64, 64, 100, 97, 69, 58, 96, 79, 74, 65, 74, 30, 27, 62, 54, 84, 18, 90, 94, 2, 4, 47, 91, 28, 71, 10, 64, 3, 81, 72, 8, 87, 78, 18, 65, 90, 23, 5, 20, 55, 90, 20, 99, 31, 41, 30, 29]

In [78]:
train = data[0:int(len(data) * 0.7)]
print(len(train))
print(train)

70
[45, 65, 46, 66, 95, 76, 85, 6, 92, 51, 33, 52, 50, 59, 5, 73, 50, 11, 100, 52, 44, 14, 7, 64, 64, 100, 97, 69, 58, 96, 79, 74, 65, 74, 30, 27, 62, 54, 84, 18, 90, 94, 2, 4, 47, 91, 28, 71, 10, 64, 3, 81, 72, 8, 87, 78, 18, 65, 90, 23, 5, 20, 55, 90, 20, 99, 31, 41, 30, 29]

In [79]:
train = data[:int(len(data) * 0.7)] # 시작 index 생략시 0부터 시작
print(len(train))
print(train)

70
[45, 65, 46, 66, 95, 76, 85, 6, 92, 51, 33, 52, 50, 59, 5, 73, 50, 11, 100, 52, 44, 14, 7, 64, 64, 100, 97, 69, 58, 96, 79, 74, 65, 74, 30, 27, 62, 54, 84, 18, 90, 94, 2, 4, 47, 91, 28, 71, 10, 64, 3, 81, 72, 8, 87, 78, 18, 65, 90, 23, 5, 20, 55, 90, 20, 99, 31, 41, 30, 29]

In [80]:
train = data[70:95] # 70% 제외, 25% 산출
print(len(train))
print(train)

25
[24, 20, 96, 23, 20, 51, 8, 6, 11, 75, 65, 17, 88, 95, 99, 79, 52, 21, 27, 79, 46, 98, 60, 47, 86]

In [82]:
train = data[int(len(data)*0.7):int(len(data)*0.95)] # 70% 제외, 25% 산출
print(len(train))
print(train)

25
[24, 20, 96, 23, 20, 51, 8, 6, 11, 75, 65, 17, 88, 95, 99, 79, 52, 21, 27, 79, 46, 98, 60, 47, 86]

In [83]:
train = data[95:] # 5%
print(len(train))
print(train)

5
[83, 97, 80, 28, 50]

In [84]:
train = data[int(len(data) * 0.95):] # 5%
print(len(train))
print(train)

5
[83, 97, 80, 28, 50]